In [1]:
import pandas as pd
import numpy as np

/Users/split/anaconda3/lib/python3.7/site-packages/pandas/compat/_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [10]:
df = pd.read_csv('2021jan.csv')

In [11]:
df = df.drop(['QUARTER', 'BRANDED_CODE_SHARE'], axis=1)
df

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,MKT_UNIQUE_CARRIER,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,...,DEP_DELAY_GROUP,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE_GROUP,Unnamed: 29
0,2021,1,5,2,2021-01-05,DL,OO,14831,1483106,32457,...,-1.0,2010,2000.0,-10.0,0.0,0.0,0.0,0.0,3,NaN
1,2021,1,5,2,2021-01-05,DL,OO,14683,1468305,33214,...,-1.0,1708,1653.0,-15.0,0.0,0.0,0.0,0.0,5,NaN
2,2021,1,5,2,2021-01-05,DL,OO,14771,1477104,32457,...,-1.0,1107,1040.0,-27.0,0.0,0.0,0.0,0.0,2,NaN
3,2021,1,5,2,2021-01-05,DL,OO,12892,1289208,32575,...,-1.0,1834,1819.0,-15.0,0.0,0.0,0.0,0.0,2,NaN
4,2021,1,5,2,2021-01-05,DL,OO,13851,1385103,33851,...,-1.0,2004,1950.0,-14.0,0.0,0.0,0.0,0.0,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379379,2021,1,15,5,2021-01-15,AA,AA,11298,1129806,30194,...,12.0,2148,134.0,226.0,226.0,1.0,0.0,0.0,4,NaN
379380,2021,1,16,6,2021-01-16,AA,AA,11298,1129806,30194,...,0.0,2316,2254.0,-22.0,0.0,0.0,0.0,0.0,4,NaN
379381,2021,1,17,7,2021-01-17,AA,AA,11298,1129806,30194,...,0.0,2148,2157.0,9.0,9.0,0.0,0.0,0.0,4,NaN
379382,2021,1,18,1,2021-01-18,AA,AA,11298,1129806,30194,...,0.0,2316,2257.0,-19.0,0.0,0.0,0.0,0.0,4,NaN
379383,2021,1,19,2,2021-01-19,AA,AA,11298,1129806,30194,...,-1.0,2316,2307.0,-9.0,0.0,0.0,0.0,0.0,4,NaN

In [12]:
df.columns

Index(['YEAR', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'MKT_UNIQUE_CARRIER', 'OP_UNIQUE_CARRIER', 'ORIGIN_AIRPORT_ID',
       'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID', 'DEST_AIRPORT_ID',
       'DEST_AIRPORT_SEQ_ID', 'DEST_CITY_MARKET_ID', 'CRS_DEP_TIME',
       'DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_NEW', 'DEP_DEL15',
       'DEP_DELAY_GROUP', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'ARR_DELAY_NEW', 'ARR_DEL15', 'CANCELLED', 'DIVERTED', 'DISTANCE_GROUP',
       'Unnamed: 29'],
      dtype='object')