In [1]:
import pandas as pd
import numpy as np

/Users/split/anaconda3/lib/python3.7/site-packages/pandas/compat/_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
df = pd.read_csv('2021jan.csv')

In [3]:
df.columns

Index(['YEAR', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'MKT_UNIQUE_CARRIER', 'ORIGIN_AIRPORT_ID', 'DEST_AIRPORT_ID',
       'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_NEW', 'DEP_DEL15',
       'TAXI_OUT', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'ARR_DELAY_NEW', 'ARR_DEL15', 'CANCELLED', 'DIVERTED',
       'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'DISTANCE', 'Unnamed: 25'],
      dtype='object')

In [5]:
df = df.drop(columns=['Unnamed: 25'])
df.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,MKT_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,CRS_DEP_TIME,DEP_TIME,...,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,ARR_DEL15,CANCELLED,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE
0,2021,1,20,3,2021-01-20,AA,11298,13487,2045,2100.0,...,2316,2306.0,-10.0,0.0,0.0,0.0,0.0,151.0,126.0,852.0
1,2021,1,21,4,2021-01-21,AA,11298,13487,2045,2035.0,...,2316,2255.0,-21.0,0.0,0.0,0.0,0.0,151.0,140.0,852.0
2,2021,1,22,5,2021-01-22,AA,11298,13487,1915,1924.0,...,2148,2142.0,-6.0,0.0,0.0,0.0,0.0,153.0,138.0,852.0
3,2021,1,23,6,2021-01-23,AA,11298,13487,2045,2040.0,...,2316,2312.0,-4.0,0.0,0.0,0.0,0.0,151.0,152.0,852.0
4,2021,1,24,7,2021-01-24,AA,11298,13487,1915,1922.0,...,2148,2124.0,-24.0,0.0,0.0,0.0,0.0,153.0,122.0,852.0

In [6]:
SFO_id = 14771
sfo_df = df[df['DEST_AIRPORT_ID'] == SFO_id]

In [7]:
ids = pd.read_csv('L_AIRPORT_ID.csv')

In [8]:
ca_airports = ids[ids['Description'].str.contains("CA")]
ca_airports

       Code                                        Description
141   10157  Arcata/Eureka, CA: California Redwood Coast Hu...
276   10297                 Anaheim, CA: Anaheim-Disneyland HP
304   10327                              Napa, CA: Napa County
314   10337             Apple Valley, CA: Apple Valley Airport
394   10418                       Auburn, CA: Auburn Municipal
...     ...                                                ...
6503  16843                 Rio Vista, CA: Rio Vista Municipal
6504  16844                       Delano, CA: Delano Municipal
6567  16907               Garberville, CA: Garberville Airport
6573  16914            El Mirage, CA: El Mirage Field Adelanto
6579  16920                              Davis, CA: University

[208 rows x 2 columns]

In [10]:
# creating binary variable - 1 if the origin airport is in California, otherwise 0
from_ca = np.where(sfo_df['ORIGIN_AIRPORT_ID'].isin(ca_airports['Code']), 1, 0)

In [12]:
sfo_df['origin_CA'] = from_ca

/Users/split/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
sfo_df

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,MKT_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,CRS_DEP_TIME,DEP_TIME,...,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,ARR_DEL15,CANCELLED,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,origin_CA
1812,2021,1,2,6,2021-01-02,AA,11057,14771,2005,2013.0,...,2229.0,-25.0,0.0,0.0,0.0,0.0,349.0,316.0,2296.0,0
1813,2021,1,3,7,2021-01-03,AA,11057,14771,1845,1845.0,...,2153.0,16.0,16.0,1.0,0.0,0.0,352.0,368.0,2296.0,0
1814,2021,1,4,1,2021-01-04,AA,11057,14771,1845,1857.0,...,2145.0,8.0,8.0,0.0,0.0,0.0,352.0,348.0,2296.0,0
1815,2021,1,5,2,2021-01-05,AA,11057,14771,1858,1858.0,...,2130.0,-18.0,0.0,0.0,0.0,0.0,350.0,332.0,2296.0,0
1816,2021,1,6,3,2021-01-06,AA,11057,14771,1858,1854.0,...,2119.0,-29.0,0.0,0.0,0.0,0.0,350.0,325.0,2296.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378779,2021,1,24,7,2021-01-24,DL,12892,14771,1459,1505.0,...,1630.0,5.0,5.0,0.0,0.0,0.0,86.0,85.0,337.0,1
378939,2021,1,19,2,2021-01-19,DL,12892,14771,1010,1008.0,...,1119.0,-22.0,0.0,0.0,0.0,0.0,91.0,71.0,337.0,1
379083,2021,1,16,6,2021-01-16,DL,12892,14771,1459,1458.0,...,1609.0,-16.0,0.0,0.0,0.0,0.0,86.0,71.0,337.0,1
379168,2021,1,16,6,2021-01-16,DL,12892,14771,1010,1001.0,...,1107.0,-34.0,0.0,0.0,0.0,0.0,91.0,66.0,337.0,1
379368,2021,1,11,1,2021-01-11,DL,12892,14771,1010,1006.0,...,1114.0,-27.0,0.0,0.0,0.0,0.0,91.0,68.0,337.0,1

-----

## OMIT

The following cells decoded the carrier code for each flight - this won't be used in the final dataset.

In [15]:
carriers = pd.read_csv('L_UNIQUE_CARRIERS.csv')
ca_carriers = carriers[carriers['Code'].isin(sfo_df['MKT_UNIQUE_CARRIER'].unique())]
ca_carriers

     Code             Description
184    AA  American Airlines Inc.
312    AS    Alaska Airlines Inc.
353    B6         JetBlue Airways
541    DL    Delta Air Lines Inc.
625    F9  Frontier Airlines Inc.
735    HA  Hawaiian Airlines Inc.
1476   UA   United Air Lines Inc.
1577   WN  Southwest Airlines Co.

In [12]:
ca_carriers = ca_carriers.set_index(keys=ca_carriers['Code']).drop(columns=['Code'])

In [13]:
ca_carriers_dict = ca_carriers.to_dict(orient='index')

In [14]:
def convert_carrier_name(entry):
    return ca_carriers_dict[entry]['Description']

In [15]:
ca_df['Carrier'] = ca_df['MKT_UNIQUE_CARRIER'].apply(convert_carrier_name)

/Users/split/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
ca_df.columns

Index(['YEAR', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'ORIGIN_AIRPORT_ID', 'DEST_AIRPORT_ID', 'CRS_DEP_TIME', 'DEP_TIME',
       'DEP_DELAY', 'DEP_DELAY_NEW', 'DEP_DEL15', 'DEP_DELAY_GROUP',
       'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'ARR_DELAY_NEW', 'ARR_DEL15',
       'CANCELLED', 'DIVERTED', 'DISTANCE', 'DISTANCE_GROUP', 'Carrier'],
      dtype='object')

------
## Flight departure/arrival hour

In [21]:
hour_col_dep = sfo_df['CRS_DEP_TIME'] // 100

In [22]:
hour_col_arr = sfo_df['CRS_ARR_TIME'] // 100

-----
## OMIT

Are enough red eye flights to make a feature?

In [23]:
r = ca_df[['CRS_DEP_TIME', 'CRS_ARR_TIME']]

In [24]:
re = r[((r['CRS_DEP_TIME'] <= 200) | (r['CRS_DEP_TIME'] >= 2100)) & (r['CRS_ARR_TIME'] <= 700)]
re.head()

       CRS_DEP_TIME  CRS_ARR_TIME
84070          2250           611
84071          2250           611
84072          2250           611
84073          2250           611
84074          2245           613

In [25]:
arr_delay = ca_df[((ca_df['CRS_DEP_TIME'] <= 200) | (ca_df['CRS_DEP_TIME'] >= 2100)) & (ca_df['CRS_ARR_TIME'] <= 700)]['DEP_DELAY']

In [26]:
arr_delay.describe()

count    418.000000
mean      -1.789474
std       52.141099
min      -75.000000
25%      -11.000000
50%       -7.000000
75%       -2.000000
max      989.000000
Name: DEP_DELAY, dtype: float64

----
There are NaNs in `ARR_DELAY` and `DEP_DELAY`; check the % of delay data missing and if those rows can be removed

In [16]:
sfo_df['ARR_DELAY'].isna().value_counts()

False    5798
True       65
Name: ARR_DELAY, dtype: int64

In [17]:
sfo_df['DEP_DELAY'].isna().value_counts()

False    5827
True       36
Name: DEP_DELAY, dtype: int64

In [18]:
# Since flights that are canceled do not leave the airport (in the majority of cases),
# the cancelled flights will be removed from the dataset
sfo_df = sfo_df[sfo_df['CANCELLED'] != 1]

In [20]:
sfo_df[sfo_df['DEP_TIME'].isna()]

Empty DataFrame
Columns: [YEAR, MONTH, DAY_OF_MONTH, DAY_OF_WEEK, FL_DATE, MKT_UNIQUE_CARRIER, ORIGIN_AIRPORT_ID, DEST_AIRPORT_ID, CRS_DEP_TIME, DEP_TIME, DEP_DELAY, DEP_DELAY_NEW, DEP_DEL15, TAXI_OUT, TAXI_IN, CRS_ARR_TIME, ARR_TIME, ARR_DELAY, ARR_DELAY_NEW, ARR_DEL15, CANCELLED, DIVERTED, CRS_ELAPSED_TIME, ACTUAL_ELAPSED_TIME, DISTANCE, origin_CA]
Index: []

[0 rows x 26 columns]

In [21]:
sfo_df['DIVERTED'].value_counts()

0.0    5798
1.0      29
Name: DIVERTED, dtype: int64

In [22]:
# Diverted flights will fly to another airport before landing at the original destination airport.
# This leads to having a flight with a departed time, but no arrival time; and
# since very few of the flights are diverted, they will be removed.
sfo_df = sfo_df[sfo_df['DIVERTED'] != 1]